// カスタムプロパティ
:root {
  --color-black: #111111;
  --color-black-gray: #444444;
  --color-white-gray: #CCCCCC;
  --color-white: #EEEEEE;
  --font-space: 1px;
  --font-line: 1.5;
  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
}



// ページ全体デザイン
// ------------------------------------------
// スクロールバー
::-webkit-scrollbar {
  /*display: none;*/
}
// ------------------------------------------



//タグの設定
// ------------------------------------------
a,
li,
button {
  color: var(--color-black);
  font-size: var(--font-m);
  letter-spacing: var(--font-space);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

select,
input[type='checkbox'] {
  cursor: pointer;
}

input,
select {
  font-size: 16px;
  letter-spacing: var(--font-space);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 5px 0;
}

button,
button[type="submit"] {
  display: block;
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: var(--font-s);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;

  a {
    color: var(--color-black);
    font-size: var(--font-s);
  }
}
// ------------------------------------------



// コンテンツ
// ------------------------------------------
body {
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: var(--font-m);
  letter-spacing: var(--font-space);
  line-height: var(--font-line);
  margin: 0;

  // ヘッダー
  header {
    z-index: 990;
    position: fixed;
    width: 100%;

    p {
      display: grid;
      place-items: center;
      font-weight: bold;
      height: 35px;
      background-color: var(--color-black);

      a {
        color: var(--color-white);
      }
    }


    nav {
      z-index: 990;

      // アカウントのアイコン
      div {
        position: fixed;
        top: 5px;
        right: 10px;
        cursor: pointer;

        img {
          height: 25px;
          width: auto;
          vertical-align: middle;
          border-radius: 15px;
        }
      }

      // menu
      ul.menu-list {
        position: fixed;
        top: 40px;
        right: 10px;
        padding: 5px 0;
        background-color: #FFFFFF;
        border-radius: 5px 5px 5px 10px;

        li {
          border-radius: 15px;
          margin: 0;

          a,
          button {
            display: block;
            text-align: left;
            width: 100%;
            color: var(--color-black);
            font-size: var(--font-s);
            margin: 0;
            padding: 10px 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: transparent;
          }

          img {
            width: 15px;
            height: auto;
            border-radius: 14px;
            margin-right: 5px;
            vertical-align: -2px;
          }
        }
      }
    }
  }

  // メイン
  main {
    display: grid;
    place-items: start center;

    div {
      margin-top: 60px;

      a {
        display: inline-block;
        color: var(--color-white);
        background-color: var(--color-black);
        font-size: var(--font-s);
        border-radius: 20px;
        padding: 10px 20px;
      }

      .title {
        font-weight: bold;
        border-left: 2px solid var(--color-white-gray);
        padding-left: 10px;
        margin-bottom: 20px;
      }

      table {
        display: grid;
        place-items: start center;
        font-size: var(--font-s);
        text-align: left;
        border-collapse: collapse; /* table間の隙間を無くす*/

        a {
          color: var(--color-black);
          padding: 0;
          border-radius: 0;
          background-color: transparent;
          border-bottom: 1px solid;
        }

        tr {

          th,
          td {
            max-width: 19vw;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis; /* 枠外のテキストを...にする */
            border-bottom: 1px solid var(--color-white-gray);
            padding: 5px;
          }

          td {
            width: 200px;
          }
        }

        .table-title {
          font-weight: bold;
          background-color: var(--color-white-gray);
        }
      }

      label {
        font-size: var(--font-s);
      }

      input,
      select {
        color: var(--color-black);
        background-color: #FFFFFF;
        width: 100%;
      }

      .check {
        display: grid;
        place-items: center;
        margin-top: 10px;
      }

      .checkbox {
        width: initial;
        text-align: center;
      }

      .submit {
        display: flex;
        margin-top: 20px;
      }
    }
  }
}
// ------------------------------------------



// footer
// ------------------------------------------
footer {
  font-size: var(--font-s);
  display: grid;
  place-items: start center;
  margin-bottom: 20px;
}
// ------------------------------------------



// 制御
// ------------------------------------------
// 非表示にする
.hidden {
  display: none;
}

// 表示する
.active {
  display: block;
}

// 無効化する
.disable {
  color: var(--color-white-gray);
}

// アラート/セッションメッセージ
.alert-success {
  font-size: var(--font-s);
  font-weight: bold;
  margin: 5px 0;
}

// エラーメッセージ
.help-block {
  color: #cc0000;
  font-size: var(--font-s);
  font-weight: bold;
  margin: 5px 0;
}
// ------------------------------------------