// スクロールバーは非表示
::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
  height: 100vh;
  display: grid;
  place-items: center;
}

// ページ全体
// ------------------------------------------
body {
  input {
    color: var(--color-white);
    border: 1px solid var(--color-black-gray);
    width: 100%;
  }

    // メイン
    main {

      article {
        width: 350px;
        height: auto;
        max-height: 550px;
        overflow-y: scroll;
        margin: 0;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--color-black-gray);

        section {
          margin: 0;

          .title {
            font-size: var(--font-m);
            margin-bottom: 15px;
            padding-left: 10px;
            border-left: 2px solid var(--color-white);
          }

          label {
            font-size: var(--font-s);
          }

          .help-block {
            color: #cc0000;
            font-size: var(--font-s);
            font-weight: bold;
          }

          .submit {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            button,
            a {
                display: inline-block;
                margin: 0 5px;
            }

            a {
              display: block;
              color: var(--color-black);
              background-color: var(--color-white);
              font-size: var(--font-s);
              border-radius: 20px;
              padding: 10px 20px;
              margin: 0 5px;
            }
          }
        }
      }
    }
}
// ------------------------------------------
