// スクロールバーは非表示
::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
  height: 100%;
}

// ページ全体
// ------------------------------------------
body {
  input {
    color: var(--color-black);
    background-color: #FFFFFF;
    width: 100%;
  }

    // メイン
    main {
      height: 100vh;
      display: grid;
      place-items: center;

      article {
        width: 350px;
        max-height: 550px;
        overflow-y: scroll;
        margin: 0;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--color-white-gray);

        section {
          .title {
            font-size: var(--font-m);
            margin-bottom: 15px;
            padding-left: 10px;
            border-left: 2px solid var(--color-white-gray);
          }

          label {
            font-size: var(--font-s);
          }

          .help-block {
            color: #cc0000;
            font-size: var(--font-s);
            font-weight: bold;
          }

          .check {
            display: grid;
            place-items: center;
            margin-top: 10px;
          }

          .checkbox {
            width: initial;
            text-align: center;
          }

          .submit {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            button,
            a {
                display: inline-block;
                margin: 0 10px;
            }

            a {
              display: block;
              color: var(--color-white);
              background-color: var(--color-black);
              font-size: var(--font-s);
              border-radius: 20px;
              padding: 10px 20px;
              margin: 0 5px;
            }
          }
        }
      }
    }
}
// ------------------------------------------

// footer
// ------------------------------------------
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
// ------------------------------------------
