// メイン部分
main {

  article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    section {
      margin: 0 10px;
    }

    .left {
      place-items: start;
      width: 20%;
      min-width: 320px;

      .account {
        display: flex;

        li {
          margin: auto 0;
          font-weight: bold;
          
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: middle;
            margin-right: 15px;
          }
        }
      }

      .place {
        display: block;

        li {
          font-size: 10px;
          font-weight: bold;
          color: #AAAAAA;

          span {
            display: inline-block;
            width: 80px;
          }

          span:last-child {
            width: 120px;
          }
        }

        li:first-child {
          color: var(--color-black);
          font-size: var(--font-s);
          margin-bottom: 5px;
        }
      }

      ul {
        margin: 10px 0;
      }
    }

    .right {
      display: block;
      width: 50%;
      min-width: 320px;
      padding: 15px;
      background-color: #FFFFFF;
      border-radius: 10px;
    }
  }
}