// カスタムプロパティ
:root {
  --color-black: #111111;
  --color-black-gray: #444444;
  --color-white-gray: #CCCCCC;
  --color-white: #EEEEEE;
  --font-space: 1px;
  --font-line: 1.5;
  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
}



// スクロールバーは非表示
::-webkit-scrollbar {
  /*display: none;*/
}



// ページ全体
// ------------------------------------------
body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: var(--font-m);
  letter-spacing: var(--font-space);
  line-height: var(--font-line);
  margin: 0;

  // bodyで一括設定できないタグの設定
  a,
  li,
  button {
    color: var(--color-white);
    font-size: var(--font-m);
    letter-spacing: var(--font-space);
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input {
    font-size: 16px;
    letter-spacing: var(--font-space);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 0;
  }

  button,
  button[type="submit"] {
    display: block;
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: var(--font-s);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5px;

    a {
      color: var(--color-black);
      font-size: var(--font-s);
    }
  }

  // ヘッダー
  header {
    z-index: 990;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #444444;

    nav {
      z-index: 990;

      // アカウントナビ
      div {
        // アカウントのアイコン
        position: fixed;
        top: 5px;
        right: 10px;
        cursor: pointer;

        img {
          height: 25px;
          width: auto;
          vertical-align: middle;
          border-radius: 15px;
        }
      }

      // menu
      ul.menu-list {
        position: fixed;
        top: 40px;
        right: 10px;
        padding: 5px 0;
        background-color: #FFFFFF;
        border-radius: 5px 5px 5px 10px;

        li {
          border-radius: 15px;
          margin: 0;

          a,
          button {
            display: block;
            width: 100%;
            color: var(--color-black);
            font-size: var(--font-s);
            margin: 0;
            padding: 10px 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: transparent;
          }

          img {
            width: 15px;
            height: auto;
            border-radius: 14px;
            margin-right: 5px;
            vertical-align: -2px;
          }
        }
      }
    }
  }

  // チャンネルリスト/グローバルナビ(PC)
  aside {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 250px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;

    .account {
      display: flex;

      img {
        height: 40px;
        width: auto;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 15px;
      }

      div {
        min-width: 0;
        font-weight: bold;
        margin: auto 0;

        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -webkit-text-overflow: ellipsis; /*Safari用*/
        }

        p:last-child {
          font-size: 10px;
          color:#AAAAAA;
        } 
      }
    }

    nav {

      .title {
        font-size: var(--font-s);
        font-weight: bold;
        margin-bottom: 8px;
      }

      ul {

        li {
          padding: 8px 0;

          img {
            height: 20px;
            width: auto;
            border-radius: 50%;
            margin-right: 10px;
          }

          div {
            display: flex;

            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              -webkit-text-overflow: ellipsis; /*Safari用*/
            }
          }
        }
      }
    }

    .global {
      padding: 20px 0;
      border-bottom: 1px solid var(--color-black-gray);
    }

    .channel {
      padding-top: 20px;
    }
  }



  // メイン
  main {
    width: 100%;
    height:500px;

    .test {
    width: 500px;
    height:500px;
    background-color: blue;

      // sessionメッセージ
      .alert-success {
        font-size: var(--font-s);
        font-weight: bold;
        margin-bottom: 10px;
      }

      section {
        margin-top: 25px;

        .title {
          font-size: var(--font-m);
          margin-bottom: 15px;
          padding-left: 10px;
          border-left: 2px solid var(--color-white);
        }

        label {
          font-size: var(--font-s);
        }

        .help-block {
          color: #cc0000;
          font-size: var(--font-s);
          font-weight: bold;
        }

        .submit {
          display: flex;
          margin-top: 20px;

          button,
          a {
              display: inline-block;
          }

          a {
            display: block;
            color: var(--color-black);
            background-color: var(--color-white);
            font-size: var(--font-s);
            border-radius: 20px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
// ------------------------------------------



// JSによる表示/非表示切替
// ------------------------------------------
.hidden {
  display: none;
}

.active {
  display: block;
}
// ------------------------------------------



// footer
// ------------------------------------------
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-top: 5px;
  font-size: var(--font-s);
  text-align: center;
}
// ------------------------------------------